  @font-face {
  font-family: 'JF-Flat-Regular';

  
  src: url('fonts/JF-Flat-Regular.ttf')  format('truetype');
  
   /*  url("/fonts/JF Flat Regular/OpenSans-Regular-webfont.woff") format("woff"); */
}
/*********************************************************************/
  
  
/*******************************************************************/
button, input, optgroup, select, textarea {
  margin-bottom: 10px !important;
}
.col-form-label {
  font-size: 20px !important;
}
select, .custom-select{
  width: 100% !important;
}
body {
  font-family: 'JF-Flat-Regular';
   color: #444444;
}
h2 {
  font-family: 'JF-Flat-Regular';
  
} 

.bg-dark {
  background-color: #054535!important;
  color: #fff !important ;
}
 

li > a.nav-link{
  color: #fff !important ;
}
.btn-primary {
  color: #fff ;
  background-color: #BD9B72;
  border-color: #BD9B72;
}
a {
  
  color: #444444;
  text-decoration: none;
}
a:hover{
 color: #054535!important
}